* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


input{
    all: unset;
}

.body {
    background-color: #FFFEFB;
    color: #585858;
    font-family: poppins;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main {

    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 32px;
    padding: 16px;
    padding-bottom: 64px;

}


.header{
    background-color:#f7f7f7;
    position: sticky;
    top: 0;
    color:#2f2f2f;
    width: 100%;
   
    z-index: 1;
}

.header__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 32px;
}


.logo{
   font-size: 32px;
   font-style: bold;
}

.header1 {

    padding: 16px;
}

.header1__ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
}


.header__ul a{
    text-decoration: none;
}





.footer__nav{
    
}


.footer__ul{
    display: flex;
    padding: 32px 24px;
    position: fixed;
    bottom: 0;
    list-style: none;
    background-color: #ffffff;
    width: 100%;
    justify-content: space-between;
}


.footer__ul i{
    font-size: 24px;
    color: rgb(13, 13, 13);
}





.cards {
    display: flex;
    flex-direction: column;
    padding-bottom: 56px;
   
    
}

.cards__card1 a{
   
}


.cards__card1, .cards__card2, .cards__card3, .cards__card4, .cards__card5{
    position: relative;
    width: 100%;
}

.cards__img  {
    width: 100%;
    border-radius: 4px;
   
    object-fit: cover;
    
   
}


.cards__card1--new{
    


}




.cards__text{
    text-align: center;
    position: absolute;
    top: 40%;
    padding: 10px 0px;
    transform: translate(-50% -50%);
    color:#ffffff;
    background-color: #080808;
    opacity: 0.7;
    width: 100%;
}


.cards__h3{

    bottom: 50px;
    top:50px;
    left: 50px;
    right: 50px;
   

}









.descripcion__img{
    width: 100%;
}



.descripcion__h3{
    text-align: center;
}

.descripcion__h3, .descripcion__p1, .descripcion__p2, .descripcion__p3{

    padding:8px 16px;
}


.descripcion__p1, .descripcion__p2, .descripcion__p3{
    text-align: center;
}



.asistencia__leyenda{
   
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(243, 250, 255);
    padding: 16px 6px 16px 6px;
    border-radius: 10px;
    font-size: 12px;
}




.asistencia__tabla{
    width: 100%;
}



.mapa__mapa{
    width: 100%;
    
}


.asistencia{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.asistencia__tabla{
    width: 100%;
}

.asistencia__tabla th tr{
    display: flex;
    justify-content: center;
}




.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form__p{
    text-align: center;
    color: #868080;
    font-size: 12px;
    
}







.form__label{
    display: flex;
    gap: 8px;
}

.form__img{
    width: 32px;
}


.form__button{
    padding: 1em;
    border-radius: 20px;
    background-color: #7c7cd8;
    color: #e7e6e6;
    color: #f3f3f3;
    border: none;
    font-family: poppins;
    transition: background-color 0.4s ease-in, border 0.4s ease-in;
    
}



.form__input {

    padding:  16px;
    border:none;
    border-radius: 20px;
    background-color: rgb(243, 250, 255);
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; */
    
}

.form__input:focus {

    background-color: #bcc6ea;
    border: #f9f9f9;
} 



.button-navigation{
  
    bottom: 0;
    position: fixed;
    bottom: 0;
    padding: 16px 0px;
    background-color: #7c7cd8;
    color: #e7e6e6;
    width: 100%;
    display: flex;
  
    
   
   

}

.button-navigation__ul{
    display: flex;
    list-style: none;
    background-color: #7c7cd8;
  
   

 
   
}










