* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.body {
    background-color: #FFFEFB;
    color: #585858;
    font-family: khula, poppins;
}

.main {

    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 16px;
    padding: 16px;

}


.header{
    background-color: #f3f3f3;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 32px;
}


.encabezado-nav__ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 12px;
    padding: 16px 24px;

}





.cta {
    position: relative;
}


.cta__imagen {
    width: 100%;

}

.cta__titulo {

    position: absolute;
    top: 70px;
    padding: 0 24px;

}

.cta__boton {
    font-family: khula;
    padding: 8px;
    background-color: #FFAC07;
    border: none;
    border-radius: 4px;
    position: absolute;
    bottom: 70px;
    left: 25px;

}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1__cards {
    display: flex;
    flex-direction: column;
    padding: 16px;
     gap: 8px;
}


.card1__img, .card2__img, .card3__img {
    width: 100%;
    border-radius: 4px;
}

.card1__button, .card2__button, .card3__button {
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-family: khula;
   

}


.card1__h2{

}








.descripcion__img{
    width: 100%;
}

.descripcion__h3{
    text-align: center;
}

.descripcion__h3, .descripcion__p1, .descripcion__p2, .descripcion__p3{

    padding:8px 16px;
}





.asistencia{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.asistencia__table{
    width: 100%;
}


.form__input{

    padding: 8px 16px;
    border:none;
    border-radius: 20px;
    background-color: rgb(255, 245, 219);
    display: flex;
    flex-direction: column;
    gap: 8px
    ;
}