* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.body {
    background-color: #FFFEFB;
    color: #585858;
    font-family: khula, poppins;
}

.main {

    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 24px;
    padding: 16px;
    padding-bottom: 64px;

}


.header{
    background-color: #7c7cd8;
    position: sticky;
    top: 0;
    color: #e7e6e6;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 32px;
}



.encabezado{
    padding-left:  8px;
    padding-right: 8px;
   
    position: sticky;
    top: 100px;
    
}

.encabezado-nav__ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 12px;
    padding-top: 20px;
  

}

.encabezado-nav__ul li{
    padding: 8px;
    background-color: rgb(243, 250, 255);
    
    border-radius: 30px;
    text-align: center;
}





.cta {
    position: relative;
}


.cta__imagen {
    width: 100%;

}

.cta__titulo {

    position: absolute;
    top: 70px;
    padding: 0 24px;

}

.cta__boton {
    font-family: khula;
    padding: 8px;
    background-color: #e7e6e6;
    
    border: none;
    border-radius: 4px;
    position: absolute;
    bottom: 70px;
    left: 25px;

}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1__cards {
    display: flex;
    flex-direction: column;
    padding: 16px;
     gap: 8px;
}


.cards__card1, .cards__card2, .cards__card3{
    position: relative;
}

.card1__img, .card2__img, .card3__img {
    width: 100%;
    border-radius: 4px;
    opacity: 60px;
    
   
}

.card1__button{
    background-color: #7c7cd8;
    color: #e7e6e6;
}

 .card1__button, .card2__button, .card3__button {
    padding: 1em;
    border-radius: 4px;
    border: none;
    font-family: khula;
    width: 100%;
   
   
   

}

.card__text{
    text-align: center;
    position: absolute;
    top: 50px;
    color:#585858;
    background-color: #e7e6e6;
    opacity: 0.7;
    width: 100%;
}


.card1__h3, .card2__h3, .card3__h3{

    bottom: 50px;
    top:50px;
    left: 50px;
    right: 50px;
   

}








.descripcion__img{
    width: 100%;
}



.descripcion__h3{
    text-align: center;
}

.descripcion__h3, .descripcion__p1, .descripcion__p2, .descripcion__p3{

    padding:8px 16px;
}





.asistencia{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.asistencia__table{
    width: 100%;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__input{

    padding:  16px;
    border:none;
    border-radius: 20px;
    background-color: rgb(243, 250, 255);
    
}






.form__label{
    display: flex;
    gap: 8px;
}

.form__img{
    width: 32px;
}


.form__button{
    padding: 1em;
    border-radius: 20px;
    background-color: #7c7cd8;
    color: #e7e6e6;
    color: #f3f3f3;
    border: none;
    font-family: khula;
    
}


.button-navigation__ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
    padding: 24px 0px;
    background-color: #7c7cd8;
    color: #e7e6e6;
    position: fixed;
    bottom: 0;
    width: 100%;
}